<!-- Sidebar Component -->
 <!-- SIDEBAR -->
  
        <aside class="sidebar mini card-hybrid" id="sidebar">
            <nav>
                <a href="#" class="nav-item"><i data-lucide="home"></i><span>Dashboard</span></a>
                <a href="#" class="nav-item"><i data-lucide="bar-chart-2"></i><span> Analíticas</span></a>
                <a href="#" class="nav-item"><i data-lucide="mail"></i><span>Mensajes</span></a>
                <a href="#" class="nav-item"><i data-lucide="bell"></i><span>Notificaciones</span></a>
                <a href="#" class="nav-item"><i data-lucide="settings"></i> <span>Ajustes</span></a>
            </nav>
            <div class="sidebar-footer">
                <a class="nav-item logout-link" onclick="handleLogout()">
                    <i data-lucide="power"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </aside>
  
     

