    <!-- CONTENEDOR TOPBAR -->
    <header class="topbar card-hybrid">
        <div class="content-topbar">
            <button class="btn-menu" onclick="toggleSidebar()">
                <i data-lucide="menu"></i>
            </button>
            <div class="topbar-titulo">IT Support</div>
        </div>

        <!-- <div class="search-box">
            <i data-lucide="search"></i>
            <input type="text" placeholder="Buscar algo...">
        </div> -->

        <div class="topbar-usuario">
            <span>Usuario</span>
            <div class="circle-user">
                <i data-lucide="user"></i>
            </div>
        </div>
    </header>

<script>
    function handleLogout() {
        localStorage.removeItem('access_token');
        localStorage.removeItem('username');
        window.location.href = '/';
    }
</script>