/* --- ESTILOS GENERALES ---- */
:root {
    --bg-page:  #f0f2f5;
    --glass-bg: rgba(255, 255, 255, 0.35);
    --glass-border: rgba(255, 255, 255, 0.5);
    --blur: blur(15px);
    --shadow-light: rgba(255, 255, 255, 0.9);
    --text-main: #556070;
    --accent: #0099ff;
    --sidebar-full: 256px;
    --sidebar-mini: 70px;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-page);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
}

h1, h2{
    margin-bottom: 15px;
}
.card-hybrid {
    background: var(--glass-bg);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border: 1px solid var(--glass-border);
    border-radius: 25px;
    box-shadow: 10px 10px 20px var(--shadow-dark), -8px -8px 15px var(--shadow-light);
}
.main-wrapper {
    display: flex;
    flex: 1;
    gap: 30px;
    overflow: hidden;
}

.content-area{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow-y: auto;
    padding-right: 5px;

}

 @media (max-width: 900px) {
            .dashboard-grid{
                grid-template-columns: 1fr;
            } 
             .search-box {
                width: 150px;
            }   
        }

        @media (max-width:768px){
            .sidebar{
                position: fixed;
                left: -300px;
                top: 100px;
                bottom: 20px;
                z-index: 999;
                width: 250px !important;
                transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            }

            .sidebar.active{
                left: 20px;
                display: flex !important;
            }

            .sidebar .nav-item span{
                display: inline !important;
            }

            .sidebar .nav-item{
                justify-content: flex-start !important;
                padding-left: 20px !important;
                gap: 15px !important;
            }

            .main-wrapper{
                gap: 0;
            }

            .dashboard-grid{
                grid-template-columns: 1fr;
            }
        }
        
        @media(max-width:600px){
            body{
                padding: 10px;
                gap: 10px;
            }

            .topbar{
                padding: 0 15px;
            }

            .topbar span{
                display: none;
            }
        }