<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Dashboard{% endblock %}</title>
        {% include 'includes/styles.html' %}  
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        
        <!-- TOP BAR -->
        {% include "components/topbar.html" %}
        <div class="main-wrapper">
            <!-- SIDEBAR -->
            {% include "components/sidebar.html" %}
            
            <!-- AREA DE CONTENIDO CENTRAL -->
            <main class="content-area">
                {% block content %}{% endblock %}
            </main>
        </div>
        <!-- SCRIPTS -->
        {% block extra_js %}{% endblock %}
        {% include 'includes/scripts.html' %}  
    </body>
    
<script>
    lucide.createIcons();

    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const isMobile = window.innerWidth <= 748;

        if(isMobile){
            sidebar.classList.toggle('active');
            sidebar.classList.remove('mini');
        }else{
            sidebar.classList.toggle('mini');
        }
    }

</script>
</html>
