<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="../static/js/lucide.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            lucide.createIcons();
        });
    </script>
</head>
<body>
    <div class="login-wrapper">
            <div class="logo">
                <i data-lucide="codesandbox" class="icon-electric"></i>
            </div>
            <h2>Bienvenido</h2>
            <p class="subtitle">Ingresa tus credenciales para continuar</p>

            <form id="loginForm">
                <div id="errorMessage" class="error-message" style="display: none;"></div>

                <div id="emailGroup" class="form-group">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-input" placeholder="tu@email.com">
                </div>

                <div class="form-group">
                    <label>Usuario</label>
                    <div class="input-wrapper">
                         <div class="icon-box">
                            <i data-lucide="user"></i>
                        </div>
                        <input type="text" name="username" placeholder="tu_usuario" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-wrapper">
                        <div class="icon-box">
                            <i data-lucide="lock"></i>
                        </div>
                      <input type="password" name="password" class="form-input" placeholder="••••••••" required>
                    </div>
                </div>
                <button type="submit" class="submit-button" id="submitBtn">Iniciar Sesión</button>

                <div class="footer">
                    <p class="footer" id="toggleBtn">
                        ¿No tienes cuenta? <span style="color: var(--accent); cursor: pointer;">Regístrate</span>
                    </p>
                </div>
            </form>
        </div>

    <script src="/static/js/login.js"></script>
</body>
</html>
